In [1]:
import pandas as pd
df = pd.read_csv('GAN_user_response.csv')


df.columns = ['timestamp', 'real_1', 'div_1', 'real_2', 'div_2', 'real_3', 'div_3', 'real_4', 'div_4',
             'real_5', 'div_5', 'real_6', 'div_6', 'real_7', 'div_7', 'real_8', 'div_8',
             'real_9', 'div_9', 'real_10', 'div_10', 'real_11', 'div_11', 'real_12', 'div_12',
             'comments', 'knowGAN']

df = df.dropna().reset_index(drop=True)
df.drop('timestamp', axis=1, inplace=True)

df

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,real_9,div_9,real_10,div_10,real_11,div_11,real_12,div_12,comments,knowGAN
0,B,B,A,A,A,B,B,A,A,B,...,B,A,A,A,B,A,B,B,It look wasn’t realistic,No
1,B,B,A,B,A,A,B,B,A,A,...,B,A,A,A,B,B,B,B,Some features on a face don’t look so correlated.,Yes
2,B,B,B,A,A,A,B,B,A,B,...,B,B,A,A,A,A,B,B,facial expression,No
3,A,A,B,A,B,A,A,B,A,A,...,B,A,B,A,A,B,A,A,in some pics their smile look so fake and it s...,No
4,B,A,A,A,A,B,B,A,A,A,...,B,B,A,A,B,A,B,A,"Facial alignment, blurs in the edges of faces",No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,A,B,A,B,B,A,A,B,A,A,...,B,A,A,A,A,A,A,A,Feel like the fake one ppl smile and acting we...,Yes
86,B,B,B,A,A,A,B,A,B,A,...,A,A,B,A,B,B,B,B,Few freckle on the face,No
87,A,B,B,A,B,A,B,B,B,B,...,B,B,B,B,B,B,B,A,"Features not fitting the face forms, features ...",No
88,A,A,B,B,B,A,A,B,B,A,...,A,B,B,A,B,B,B,A,Background / abnormal accessories,Yes
89,A,A,A,A,B,A,B,B,A,A,...,A,B,A,A,B,B,B,B,Hair and wrinkles,No

In [2]:
df.loc[df['real_1'] == 'A', 'real_1'] = 'SG2'
df.loc[df['real_1'] == 'B', 'real_1'] = 'SG3'
df.loc[df['div_1'] == 'A', 'div_1'] = 'SG2'
df.loc[df['div_1'] == 'B', 'div_1'] = 'SG3'

df.loc[df['real_2'] == 'A', 'real_2'] = 'SGXL'
df.loc[df['real_2'] == 'B', 'real_2'] = 'SG2'
df.loc[df['div_2'] == 'A', 'div_2'] = 'SGXL'
df.loc[df['div_2'] == 'B', 'div_2'] = 'SG2'

df.loc[df['real_3'] == 'A', 'real_3'] = 'SG3'
df.loc[df['real_3'] == 'B', 'real_3'] = 'SGXL'
df.loc[df['div_3'] == 'A', 'div_3'] = 'SG3'
df.loc[df['div_3'] == 'B', 'div_3'] = 'SGXL'

df.loc[df['real_4'] == 'A', 'real_4'] = 'SGXL'
df.loc[df['real_4'] == 'B', 'real_4'] = 'SG3'
df.loc[df['div_4'] == 'A', 'div_4'] = 'SGXL'
df.loc[df['div_4'] == 'B', 'div_4'] = 'SG3'

df.loc[df['real_5'] == 'A', 'real_5'] = 'SG2'
df.loc[df['real_5'] == 'B', 'real_5'] = 'SGXL'
df.loc[df['div_5'] == 'A', 'div_5'] = 'SG2'
df.loc[df['div_5'] == 'B', 'div_5'] = 'SGXL'

df.loc[df['real_6'] == 'A', 'real_6'] = 'SG3'
df.loc[df['real_6'] == 'B', 'real_6'] = 'SG2'
df.loc[df['div_6'] == 'A', 'div_6'] = 'SG3'
df.loc[df['div_6'] == 'B', 'div_6'] = 'SG2'

df.loc[df['real_7'] == 'A', 'real_7'] = 'SG2'
df.loc[df['real_7'] == 'B', 'real_7'] = 'SG3'
df.loc[df['div_7'] == 'A', 'div_7'] = 'SG2'
df.loc[df['div_7'] == 'B', 'div_7'] = 'SG3'

df.loc[df['real_8'] == 'A', 'real_8'] = 'SG2'
df.loc[df['real_8'] == 'B', 'real_8'] = 'SGXL'
df.loc[df['div_8'] == 'A', 'div_8'] = 'SG2'
df.loc[df['div_8'] == 'B', 'div_8'] = 'SGXL'

df.loc[df['real_9'] == 'A', 'real_9'] = 'SG3'
df.loc[df['real_9'] == 'B', 'real_9'] = 'SG2'
df.loc[df['div_9'] == 'A', 'div_9'] = 'SG3'
df.loc[df['div_9'] == 'B', 'div_9'] = 'SG2'

df.loc[df['real_10'] == 'A', 'real_10'] = 'SG3'
df.loc[df['real_10'] == 'B', 'real_10'] = 'SGXL'
df.loc[df['div_10'] == 'A', 'div_10'] = 'SG3'
df.loc[df['div_10'] == 'B', 'div_10'] = 'SGXL'

df.loc[df['real_11'] == 'A', 'real_11'] = 'SGXL'
df.loc[df['real_11'] == 'B', 'real_11'] = 'SG2'
df.loc[df['div_11'] == 'A', 'div_11'] = 'SGXL'
df.loc[df['div_11'] == 'B', 'div_11'] = 'SG2'

df.loc[df['real_12'] == 'A', 'real_12'] = 'SGXL'
df.loc[df['real_12'] == 'B', 'real_12'] = 'SG3'
df.loc[df['div_12'] == 'A', 'div_12'] = 'SGXL'
df.loc[df['div_12'] == 'B', 'div_12'] = 'SG3'

df.head()

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,real_9,div_9,real_10,div_10,real_11,div_11,real_12,div_12,comments,knowGAN
0,SG3,SG3,SGXL,SGXL,SG3,SGXL,SG3,SGXL,SG2,SGXL,...,SG2,SG3,SG3,SG3,SG2,SGXL,SG3,SG3,It look wasn’t realistic,No
1,SG3,SG3,SGXL,SG2,SG3,SG3,SG3,SG3,SG2,SG2,...,SG2,SG3,SG3,SG3,SG2,SG2,SG3,SG3,Some features on a face don’t look so correlated.,Yes
2,SG3,SG3,SG2,SGXL,SG3,SG3,SG3,SG3,SG2,SGXL,...,SG2,SG2,SG3,SG3,SGXL,SGXL,SG3,SG3,facial expression,No
3,SG2,SG2,SG2,SGXL,SGXL,SG3,SGXL,SG3,SG2,SG2,...,SG2,SG3,SGXL,SG3,SGXL,SG2,SGXL,SGXL,in some pics their smile look so fake and it s...,No
4,SG3,SG2,SGXL,SGXL,SG3,SGXL,SG3,SGXL,SG2,SG2,...,SG2,SG2,SG3,SG3,SG2,SGXL,SG3,SGXL,"Facial alignment, blurs in the edges of faces",No

In [3]:
SG2_all_real = (df['real_1'].value_counts().SG2 + df['real_2'].value_counts().SG2 + df['real_5'].value_counts().SG2 +
                df['real_6'].value_counts().SG2 + df['real_7'].value_counts().SG2 + df['real_8'].value_counts().SG2 +
                df['real_9'].value_counts().SG2 + df['real_11'].value_counts().SG2)


SG3_all_real = (df['real_1'].value_counts().SG3 + df['real_3'].value_counts().SG3 + df['real_4'].value_counts().SG3 +
                df['real_6'].value_counts().SG3 + df['real_7'].value_counts().SG3 + df['real_9'].value_counts().SG3 +
                df['real_10'].value_counts().SG3 + df['real_12'].value_counts().SG3)


SGXL_all_real = (df['real_2'].value_counts().SGXL + df['real_3'].value_counts().SGXL + df['real_4'].value_counts().SGXL + 
                 df['real_5'].value_counts().SGXL + df['real_8'].value_counts().SGXL + df['real_10'].value_counts().SGXL + 
                 df['real_11'].value_counts().SGXL + df['real_12'].value_counts().SGXL)

res = SG2_all_real+SG3_all_real+SGXL_all_real
SG2_real_avg = SG2_all_real/res
SG3_real_avg = SG3_all_real/res
SGXL_real_avg = SGXL_all_real/res

print('SG2_real', SG2_all_real, round(SG2_real_avg*100, 2))
print('SG3_real', SG3_all_real, round(SG3_real_avg*100, 2))
print('SGXL_real', SGXL_all_real, round(SGXL_real_avg*100, 2))

SG2_real 484 44.81
SG3_real 296 27.41
SGXL_real 300 27.78

In [4]:
SG2_all_div = (df['div_1'].value_counts().SG2 + df['div_2'].value_counts().SG2 + df['div_5'].value_counts().SG2 + 
                df['div_6'].value_counts().SG2 + df['div_7'].value_counts().SG2 + df['div_8'].value_counts().SG2 + 
                df['div_9'].value_counts().SG2 + df['div_11'].value_counts().SG2)
        
SG3_all_div = (df['div_1'].value_counts().SG3 + df['div_3'].value_counts().SG3 + df['div_4'].value_counts().SG3 + 
                df['div_6'].value_counts().SG3 + df['div_7'].value_counts().SG3 + df['div_9'].value_counts().SG3 + 
                df['div_10'].value_counts().SG3 + df['div_12'].value_counts().SG3)
        
SGXL_all_div = (df['div_2'].value_counts().SGXL + df['div_3'].value_counts().SGXL + df['div_4'].value_counts().SGXL + 
                df['div_5'].value_counts().SGXL + df['div_8'].value_counts().SGXL + df['div_10'].value_counts().SGXL +
                df['div_11'].value_counts().SGXL + df['div_12'].value_counts().SGXL)

res = SG2_all_div+SG3_all_div+SGXL_all_div
SG2_div_avg = SG2_all_div/res
SG3_div_avg = SG3_all_div/res
SGXL_div_avg = SGXL_all_div/res

print('SG2_div', SG2_all_div,  round(SG2_div_avg*100, 2))
print('SG3_div', SG3_all_div, round(SG3_div_avg*100, 2))
print('SGXL_div', SGXL_all_div, round(SGXL_div_avg*100, 2))

SG2_div 437 40.46
SG3_div 404 37.41
SGXL_div 239 22.13

## Find pattern in responses

In [5]:
# count each row and put it as a new column of df
## sg2VSsg3
## sg2: 
## sg3:
## (1 6 7 9)
df['sg2_3_real'] = (df[['real_1','real_6','real_7','real_9']] == 'SG2').sum(axis=1)
df['sg3_2_real'] = (df[['real_1','real_6','real_7','real_9']] == 'SG3').sum(axis=1)

df['sg2_3_div'] = (df[['div_1','div_6','div_7','div_9']] == 'SG2').sum(axis=1)
df['sg3_2_div'] = (df[['div_1','div_6','div_7','div_9']] == 'SG3').sum(axis=1)

## sg2VSsgxl
##  (2 5 8 11)
df['sg2_xl_real'] = (df[['real_2','real_5','real_8','real_11']] == 'SG2').sum(axis=1)
df['sgxl_2_real'] = (df[['real_2','real_5','real_8','real_11']] == 'SGXL').sum(axis=1)

df['sg2_xl_div'] = (df[['div_2','div_5','div_8','div_11']] == 'SG2').sum(axis=1)
df['sgxl_2_div'] = (df[['div_2','div_5','div_8','div_11']] == 'SGXL').sum(axis=1)

## sg3VSsgxl
## (3 4 10 12)
df['sg3_xl_real'] = (df[['real_3','real_4','real_10','real_12']] == 'SG3').sum(axis=1)
df['sgxl_3_real'] = (df[['real_3','real_4','real_10','real_12']] == 'SGXL').sum(axis=1)

df['sg3_xl_div'] = (df[['div_3','div_4','div_10','div_12']] == 'SG3').sum(axis=1)
df['sgxl_3_div'] = (df[['div_3','div_4','div_10','div_12']] == 'SGXL').sum(axis=1)

df.head()

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
0,SG3,SG3,SGXL,SGXL,SG3,SGXL,SG3,SGXL,SG2,SGXL,...,1,3,3,1,0,4,4,0,2,2
1,SG3,SG3,SGXL,SG2,SG3,SG3,SG3,SG3,SG2,SG2,...,2,2,2,2,4,0,4,0,4,0
2,SG3,SG3,SG2,SGXL,SG3,SG3,SG3,SG3,SG2,SGXL,...,2,2,3,1,1,3,4,0,4,0
3,SG2,SG2,SG2,SGXL,SGXL,SG3,SGXL,SG3,SG2,SG2,...,1,3,2,2,2,2,0,4,3,1
4,SG3,SG2,SGXL,SGXL,SG3,SGXL,SG3,SGXL,SG2,SG2,...,4,0,3,1,1,3,4,0,1,3

In [6]:
df_sg2_3_real = df.loc[df['sg2_3_real']==4]
df_sg2_3_real.to_csv(r'\df_sg2_3_real.csv', index=False)

In [7]:
df_sg2_xl_real = df.loc[df['sg2_xl_real']==4]
df_sg2_xl_real.to_csv(r'\df_sg2_xl_real.csv', index=False)

In [8]:
df_sg3_xl_real = df.loc[df['sg3_xl_real']==4]
df_sgxl_3_real = df.loc[df['sgxl_3_real']==4]

df_sg3_xl_real.to_csv(r'\df_sg3_xl_real.csv', index=False)
df_sgxl_3_real.to_csv(r'\df_sgxl_3_real.csv', index=False)

In [9]:
df_sg2_3_real

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
3,SG2,SG2,SG2,SGXL,SGXL,SG3,SGXL,SG3,SG2,SG2,...,1,3,2,2,2,2,0,4,3,1
10,SG2,SG2,SGXL,SGXL,SG3,SG3,SG3,SG3,SG2,SG2,...,1,3,2,2,2,2,4,0,4,0
12,SG2,SG3,SG2,SGXL,SGXL,SG3,SG3,SG3,SG2,SG2,...,1,3,4,0,3,1,3,1,4,0
19,SG2,SG2,SG2,SGXL,SGXL,SG3,SGXL,SG3,SG2,SG2,...,2,2,2,2,3,1,2,2,4,0
20,SG2,SG3,SG2,SGXL,SG3,SG3,SGXL,SGXL,SGXL,SG2,...,2,2,2,2,2,2,2,2,3,1
29,SG2,SG2,SGXL,SG2,SGXL,SG3,SGXL,SG3,SGXL,SG2,...,1,3,1,3,3,1,2,2,3,1
51,SG2,SG2,SG2,SG2,SGXL,SGXL,SGXL,SGXL,SG2,SG2,...,4,0,4,0,4,0,2,2,2,2
53,SG2,SG3,SGXL,SGXL,SG3,SG3,SG3,SG3,SGXL,SG2,...,3,1,1,3,2,2,4,0,4,0
54,SG2,SG3,SGXL,SG2,SGXL,SG3,SGXL,SG3,SGXL,SG2,...,3,1,1,3,4,0,0,4,4,0
62,SG2,SG3,SGXL,SG2,SGXL,SG3,SG3,SG3,SG2,SG2,...,3,1,2,2,3,1,1,3,4,0
63,SG2,SG3,SGXL,SG2,SGXL,SGXL,SG3,SG3,SGXL,SGXL,...,2,2,2,2,3,1,2,2,3,1
65,SG2,SG2,SG2,SGXL,SG3,SGXL,SG3,SG3,SG2,SG2,...,3,1,3,1,2,2,4,0,3,1
75,SG2,SG3,SG2,SGXL,SGXL,SG3,SGXL,SG3,SG2,SGXL,...,0,4,4,0,0,4,2,2,2,2
78,SG2,SG3,SG2,SG2,SG3,SG3,SGXL,SG3,SG2,SG2,...,3,1,3,1,2,2,3,1,3,1
84,SG2,SG3,SG2,SG2,SGXL,SG3,SGXL,SG3,SG2,SGXL,...,3,1,4,0,2,2,1,3,4,0
87,SG2,SG3,SG2,SGXL,SGXL,SG3,SG3,SG3,SGXL,SGXL,...,3,1,2,2,2,2,2,2,2,2

In [10]:
df.loc[df['sg2_3_real']==0]

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
86,SG3,SG3,SG2,SGXL,SG3,SG3,SG3,SGXL,SGXL,SG2,...,2,2,3,1,2,2,3,1,3,1

In [11]:
df_sg2_xl_real

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
9,SG2,SG3,SG2,SGXL,SGXL,SG3,SGXL,SGXL,SG2,SG2,...,3,1,4,0,3,1,1,3,2,2
11,SG3,SG3,SG2,SG2,SG3,SG3,SGXL,SGXL,SG2,SG2,...,3,1,4,0,3,1,3,1,3,1
12,SG2,SG3,SG2,SGXL,SGXL,SG3,SG3,SG3,SG2,SG2,...,1,3,4,0,3,1,3,1,4,0
18,SG2,SG2,SG2,SG2,SG3,SG3,SGXL,SG3,SG2,SG2,...,1,3,4,0,3,1,2,2,3,1
21,SG3,SG3,SG2,SG2,SGXL,SG3,SGXL,SG3,SG2,SG2,...,3,1,4,0,3,1,2,2,4,0
22,SG3,SG3,SG2,SG2,SG3,SG3,SG3,SG3,SG2,SG2,...,1,3,4,0,4,0,3,1,3,1
33,SG3,SG3,SG2,SG2,SG3,SGXL,SG3,SG3,SG2,SG2,...,1,3,4,0,3,1,4,0,3,1
39,SG2,SG2,SG2,SGXL,SG3,SG3,SG3,SGXL,SG2,SGXL,...,2,2,4,0,0,4,3,1,3,1
44,SG3,SG2,SG2,SGXL,SG3,SG3,SG3,SG3,SG2,SGXL,...,3,1,4,0,1,3,4,0,4,0
46,SG3,SG2,SG2,SGXL,SGXL,SG3,SGXL,SGXL,SG2,SG2,...,3,1,4,0,3,1,2,2,3,1
50,SG3,SG2,SG2,SG2,SGXL,SGXL,SGXL,SGXL,SG2,SGXL,...,3,1,4,0,2,2,1,3,1,3
51,SG2,SG2,SG2,SG2,SGXL,SGXL,SGXL,SGXL,SG2,SG2,...,4,0,4,0,4,0,2,2,2,2
59,SG3,SG3,SG2,SGXL,SG3,SG3,SGXL,SG3,SG2,SG2,...,3,1,4,0,2,2,2,2,3,1
70,SG3,SG2,SG2,SGXL,SGXL,SGXL,SGXL,SGXL,SG2,SG2,...,4,0,4,0,3,1,0,4,1,3
75,SG2,SG3,SG2,SGXL,SGXL,SG3,SGXL,SG3,SG2,SGXL,...,0,4,4,0,0,4,2,2,2,2
77,SG2,SG2,SG2,SG2,SGXL,SGXL,SGXL,SG3,SG2,SGXL,...,3,1,4,0,3,1,1,3,3,1
83,SG2,SG3,SG2,SGXL,SGXL,SG3,SG3,SG3,SG2,SG2,...,3,1,4,0,2,2,1,3,3,1
84,SG2,SG3,SG2,SG2,SGXL,SG3,SGXL,SG3,SG2,SGXL,...,3,1,4,0,2,2,1,3,4,0

In [12]:
df.loc[df['sg2_xl_real']==0]

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
36,SG3,SG3,SGXL,SG2,SGXL,SGXL,SGXL,SGXL,SGXL,SGXL,...,3,1,0,4,1,3,0,4,0,4

In [13]:
df_sg3_xl_real

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
0,SG3,SG3,SGXL,SGXL,SG3,SGXL,SG3,SGXL,SG2,SGXL,...,1,3,3,1,0,4,4,0,2,2
1,SG3,SG3,SGXL,SG2,SG3,SG3,SG3,SG3,SG2,SG2,...,2,2,2,2,4,0,4,0,4,0
2,SG3,SG3,SG2,SGXL,SG3,SG3,SG3,SG3,SG2,SGXL,...,2,2,3,1,1,3,4,0,4,0
4,SG3,SG2,SGXL,SGXL,SG3,SGXL,SG3,SGXL,SG2,SG2,...,4,0,3,1,1,3,4,0,1,3
10,SG2,SG2,SGXL,SGXL,SG3,SG3,SG3,SG3,SG2,SG2,...,1,3,2,2,2,2,4,0,4,0
30,SG2,SG3,SG2,SG2,SG3,SG3,SG3,SGXL,SGXL,SG2,...,2,2,2,2,4,0,4,0,1,3
31,SG3,SG3,SG2,SGXL,SG3,SG3,SG3,SGXL,SG2,SGXL,...,3,1,3,1,1,3,4,0,3,1
33,SG3,SG3,SG2,SG2,SG3,SGXL,SG3,SG3,SG2,SG2,...,1,3,4,0,3,1,4,0,3,1
40,SG3,SG2,SG2,SG2,SG3,SGXL,SG3,SGXL,SGXL,SG2,...,3,1,1,3,3,1,4,0,1,3
44,SG3,SG2,SG2,SGXL,SG3,SG3,SG3,SG3,SG2,SGXL,...,3,1,4,0,1,3,4,0,4,0
48,SG3,SG3,SG2,SG2,SG3,SGXL,SG3,SG3,SGXL,SG2,...,3,1,3,1,3,1,4,0,2,2
53,SG2,SG3,SGXL,SGXL,SG3,SG3,SG3,SG3,SGXL,SG2,...,3,1,1,3,2,2,4,0,4,0
65,SG2,SG2,SG2,SGXL,SG3,SGXL,SG3,SG3,SG2,SG2,...,3,1,3,1,2,2,4,0,3,1
69,SG2,SG2,SG2,SGXL,SG3,SGXL,SG3,SG3,SGXL,SGXL,...,3,1,2,2,1,3,4,0,3,1
71,SG2,SG3,SG2,SGXL,SG3,SGXL,SG3,SG3,SG2,SG2,...,3,1,2,2,3,1,4,0,3,1

In [14]:
df.loc[df['sg3_xl_real']==0]

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
3,SG2,SG2,SG2,SGXL,SGXL,SG3,SGXL,SG3,SG2,SG2,...,1,3,2,2,2,2,0,4,3,1
8,SG2,SG2,SG2,SG2,SGXL,SG3,SGXL,SG3,SG2,SG2,...,2,2,2,2,3,1,0,4,4,0
36,SG3,SG3,SGXL,SG2,SGXL,SGXL,SGXL,SGXL,SGXL,SGXL,...,3,1,0,4,1,3,0,4,0,4
37,SG2,SG3,SG2,SGXL,SGXL,SGXL,SGXL,SGXL,SGXL,SG2,...,3,1,2,2,2,2,0,4,0,4
41,SG2,SG2,SG2,SGXL,SGXL,SGXL,SGXL,SG3,SG2,SG2,...,3,1,2,2,1,3,0,4,3,1
52,SG2,SG2,SGXL,SGXL,SGXL,SGXL,SGXL,SG3,SG2,SG2,...,3,1,2,2,2,2,0,4,3,1
54,SG2,SG3,SGXL,SG2,SGXL,SG3,SGXL,SG3,SGXL,SG2,...,3,1,1,3,4,0,0,4,4,0
70,SG3,SG2,SG2,SGXL,SGXL,SGXL,SGXL,SGXL,SG2,SG2,...,4,0,4,0,3,1,0,4,1,3
73,SG3,SG2,SGXL,SG2,SGXL,SG3,SGXL,SG3,SG2,SG2,...,4,0,2,2,4,0,0,4,4,0

In [15]:
df_sg2_3_div = df.loc[df['sg2_3_div']==4]
df_sg2_3_div.to_csv(r'\sg2_3_div.csv', index=False)

In [16]:
df_sg2_xl_div = df.loc[df['sg2_xl_div']==4]
df_sg2_xl_div.to_csv(r'\df_sg2_xl_div.csv', index=False)

In [17]:
df_sg3_xl_div = df.loc[df['sg3_xl_div']==4]
df_sg3_xl_div.to_csv(r'\df_sg3_xl_div.csv', index=False)

In [18]:
df.loc[df['sg2_3_div']==4]

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
4,SG3,SG2,SGXL,SGXL,SG3,SGXL,SG3,SGXL,SG2,SG2,...,4,0,3,1,1,3,4,0,1,3
28,SG2,SG2,SG2,SGXL,SGXL,SGXL,SG3,SG3,SG2,SG2,...,4,0,3,1,3,1,2,2,3,1
51,SG2,SG2,SG2,SG2,SGXL,SGXL,SGXL,SGXL,SG2,SG2,...,4,0,4,0,4,0,2,2,2,2
55,SG3,SG2,SG2,SGXL,SGXL,SGXL,SGXL,SG3,SGXL,SGXL,...,4,0,2,2,1,3,1,3,3,1
56,SG2,SG2,SG2,SGXL,SG3,SG3,SGXL,SGXL,SGXL,SGXL,...,4,0,3,1,1,3,2,2,3,1
64,SG2,SG2,SGXL,SG2,SGXL,SGXL,SGXL,SG3,SG2,SG2,...,4,0,2,2,4,0,2,2,3,1
66,SG2,SG2,SG2,SG2,SGXL,SG3,SGXL,SGXL,SGXL,SG2,...,4,0,3,1,4,0,2,2,3,1
70,SG3,SG2,SG2,SGXL,SGXL,SGXL,SGXL,SGXL,SG2,SG2,...,4,0,4,0,3,1,0,4,1,3
73,SG3,SG2,SGXL,SG2,SGXL,SG3,SGXL,SG3,SG2,SG2,...,4,0,2,2,4,0,0,4,4,0
79,SG2,SG2,SG2,SG2,SGXL,SGXL,SGXL,SG3,SGXL,SGXL,...,4,0,2,2,2,2,2,2,2,2
89,SG2,SG2,SGXL,SGXL,SGXL,SG3,SG3,SG3,SG2,SG2,...,4,0,2,2,2,2,3,1,4,0

In [19]:
df.loc[df['sg2_3_div']==0]

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
47,SG2,SG3,SGXL,SG2,SGXL,SGXL,SG3,SG3,SG2,SG2,...,0,4,1,3,3,1,3,1,3,1
75,SG2,SG3,SG2,SGXL,SGXL,SG3,SGXL,SG3,SG2,SGXL,...,0,4,4,0,0,4,2,2,2,2
76,SG3,SG3,SG2,SG2,SGXL,SG3,SG3,SG3,SGXL,SG2,...,0,4,2,2,3,1,1,3,4,0

In [20]:
df.loc[df['sg2_xl_div']==4]

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
1,SG3,SG3,SGXL,SG2,SG3,SG3,SG3,SG3,SG2,SG2,...,2,2,2,2,4,0,4,0,4,0
5,SG2,SG3,SG2,SG2,SG3,SG3,SGXL,SG3,SGXL,SG2,...,3,1,2,2,4,0,2,2,4,0
14,SG2,SG3,SG2,SG2,SGXL,SG3,SG3,SG3,SG2,SG2,...,2,2,3,1,4,0,2,2,3,1
22,SG3,SG3,SG2,SG2,SG3,SG3,SG3,SG3,SG2,SG2,...,1,3,4,0,4,0,3,1,3,1
27,SG2,SG3,SG2,SG2,SGXL,SG3,SGXL,SG3,SGXL,SG2,...,2,2,2,2,4,0,1,3,4,0
30,SG2,SG3,SG2,SG2,SG3,SG3,SG3,SGXL,SGXL,SG2,...,2,2,2,2,4,0,4,0,1,3
32,SG3,SG3,SGXL,SG2,SG3,SGXL,SG3,SG3,SGXL,SG2,...,2,2,1,3,4,0,3,1,2,2
51,SG2,SG2,SG2,SG2,SGXL,SGXL,SGXL,SGXL,SG2,SG2,...,4,0,4,0,4,0,2,2,2,2
54,SG2,SG3,SGXL,SG2,SGXL,SG3,SGXL,SG3,SGXL,SG2,...,3,1,1,3,4,0,0,4,4,0
64,SG2,SG2,SGXL,SG2,SGXL,SGXL,SGXL,SG3,SG2,SG2,...,4,0,2,2,4,0,2,2,3,1
66,SG2,SG2,SG2,SG2,SGXL,SG3,SGXL,SGXL,SGXL,SG2,...,4,0,3,1,4,0,2,2,3,1
73,SG3,SG2,SGXL,SG2,SGXL,SG3,SGXL,SG3,SG2,SG2,...,4,0,2,2,4,0,0,4,4,0
74,SG3,SG3,SG2,SG2,SGXL,SG3,SGXL,SG3,SG2,SG2,...,1,3,3,1,4,0,2,2,4,0
88,SG2,SG2,SG2,SG2,SGXL,SG3,SGXL,SG3,SGXL,SG2,...,3,1,2,2,4,0,1,3,3,1

In [21]:
df.loc[df['sg2_xl_div']==0]

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
0,SG3,SG3,SGXL,SGXL,SG3,SGXL,SG3,SGXL,SG2,SGXL,...,1,3,3,1,0,4,4,0,2,2
39,SG2,SG2,SG2,SGXL,SG3,SG3,SG3,SGXL,SG2,SGXL,...,2,2,4,0,0,4,3,1,3,1
75,SG2,SG3,SG2,SGXL,SGXL,SG3,SGXL,SG3,SG2,SGXL,...,0,4,4,0,0,4,2,2,2,2

In [22]:
df.loc[df['sg3_xl_div']==4]

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
1,SG3,SG3,SGXL,SG2,SG3,SG3,SG3,SG3,SG2,SG2,...,2,2,2,2,4,0,4,0,4,0
2,SG3,SG3,SG2,SGXL,SG3,SG3,SG3,SG3,SG2,SGXL,...,2,2,3,1,1,3,4,0,4,0
5,SG2,SG3,SG2,SG2,SG3,SG3,SGXL,SG3,SGXL,SG2,...,3,1,2,2,4,0,2,2,4,0
6,SG3,SG2,SG2,SGXL,SG3,SG3,SGXL,SG3,SG2,SGXL,...,3,1,3,1,1,3,3,1,4,0
8,SG2,SG2,SG2,SG2,SGXL,SG3,SGXL,SG3,SG2,SG2,...,2,2,2,2,3,1,0,4,4,0
10,SG2,SG2,SGXL,SGXL,SG3,SG3,SG3,SG3,SG2,SG2,...,1,3,2,2,2,2,4,0,4,0
12,SG2,SG3,SG2,SGXL,SGXL,SG3,SG3,SG3,SG2,SG2,...,1,3,4,0,3,1,3,1,4,0
15,SG3,SG3,SGXL,SGXL,SG3,SG3,SGXL,SG3,SGXL,SG2,...,2,2,2,2,2,2,2,2,4,0
19,SG2,SG2,SG2,SGXL,SGXL,SG3,SGXL,SG3,SG2,SG2,...,2,2,2,2,3,1,2,2,4,0
21,SG3,SG3,SG2,SG2,SGXL,SG3,SGXL,SG3,SG2,SG2,...,3,1,4,0,3,1,2,2,4,0
27,SG2,SG3,SG2,SG2,SGXL,SG3,SGXL,SG3,SGXL,SG2,...,2,2,2,2,4,0,1,3,4,0
34,SG3,SG3,SGXL,SG2,SG3,SG3,SG3,SG3,SG2,SG2,...,2,2,2,2,3,1,3,1,4,0
42,SG2,SG3,SG2,SGXL,SGXL,SG3,SGXL,SG3,SGXL,SG2,...,3,1,2,2,3,1,2,2,4,0
44,SG3,SG2,SG2,SGXL,SG3,SG3,SG3,SG3,SG2,SGXL,...,3,1,4,0,1,3,4,0,4,0
53,SG2,SG3,SGXL,SGXL,SG3,SG3,SG3,SG3,SGXL,SG2,...,3,1,1,3,2,2,4,0,4,0
54,SG2,SG3,SGXL,SG2,SGXL,SG3,SGXL,SG3,SGXL,SG2,...,3,1,1,3,4,0,0,4,4,0
60,SG2,SG2,SGXL,SG2,SGXL,SG3,SG3,SG3,SGXL,SG2,...,3,1,2,2,3,1,3,1,4,0
62,SG2,SG3,SGXL,SG2,SGXL,SG3,SG3,SG3,SG2,SG2,...,3,1,2,2,3,1,1,3,4,0
67,SG2,SG3,SG2,SGXL,SGXL,SG3,SG3,SG3,SGXL,SG2,...,2,2,3,1,2,2,3,1,4,0
73,SG3,SG2,SGXL,SG2,SGXL,SG3,SGXL,SG3,SG2,SG2,...,4,0,2,2,4,0,0,4,4,0
74,SG3,SG3,SG2,SG2,SGXL,SG3,SGXL,SG3,SG2,SG2,...,1,3,3,1,4,0,2,2,4,0
76,SG3,SG3,SG2,SG2,SGXL,SG3,SG3,SG3,SGXL,SG2,...,0,4,2,2,3,1,1,3,4,0
81,SG2,SG3,SGXL,SG2,SGXL,SG3,SGXL,SG3,SGXL,SGXL,...,3,1,1,3,3,1,1,3,4,0
82,SG2,SG2,SG2,SGXL,SG3,SG3,SGXL,SG3,SGXL,SG2,...,3,1,3,1,3,1,2,2,4,0
84,SG2,SG3,SG2,SG2,SGXL,SG3,SGXL,SG3,SG2,SGXL,...,3,1,4,0,2,2,1,3,4,0
89,SG2,SG2,SGXL,SGXL,SGXL,SG3,SG3,SG3,SG2,SG2,...,4,0,2,2,2,2,3,1,4,0

In [23]:
df.loc[df['sg3_xl_div']==0]

,real_1,div_1,real_2,div_2,real_3,div_3,real_4,div_4,real_5,div_5,...,sg2_3_div,sg3_2_div,sg2_xl_real,sgxl_2_real,sg2_xl_div,sgxl_2_div,sg3_xl_real,sgxl_3_real,sg3_xl_div,sgxl_3_div
16,SG2,SG3,SGXL,SGXL,SGXL,SGXL,SGXL,SGXL,SG2,SGXL,...,1,3,1,3,2,2,2,2,0,4
36,SG3,SG3,SGXL,SG2,SGXL,SGXL,SGXL,SGXL,SGXL,SGXL,...,3,1,0,4,1,3,0,4,0,4
37,SG2,SG3,SG2,SGXL,SGXL,SGXL,SGXL,SGXL,SGXL,SG2,...,3,1,2,2,2,2,0,4,0,4

### Amount of votes according to each question based on StyleGAN2, 3, XL

In [24]:
df_2 = ((df[['real_1','real_6','real_7','real_9','div_1','div_6','div_7','div_9', 'real_2','real_5','real_8','real_11'
             , 'div_2','div_5','div_8','div_11']] == 'SG2').sum(axis=0))

df_3 = ((df[['real_1','real_6','real_7','real_9','div_1','div_6','div_7','div_9','real_3','real_4','real_10','real_12'
             ,'div_3','div_4','div_10','div_12']] == 'SG3').sum(axis=0))

df_xl = ((df[['real_3','real_4','real_10','real_12','div_3','div_4','div_10','div_12', 'real_2','real_5','real_8','real_11'
             , 'div_2','div_5','div_8','div_11']] == 'SGXL').sum(axis=0))

In [25]:
df_2.sort_values()

div_8      37
div_1      38
div_2      47
div_6      49
real_5     54
real_1     57
real_7     57
div_9      57
real_8     57
real_11    57
real_2     61
div_5      64
real_9     65
div_11     71
div_7      74
real_6     76
dtype: int64

In [26]:
df_3.sort_values()

real_6     14
div_7      16
real_9     25
real_1     33
real_7     33
div_9      33
real_3     37
real_4     38
div_6      41
div_1      52
div_12     55
real_10    58
real_12    58
div_3      63
div_4      64
div_10     80
dtype: int64

In [27]:
df_xl.sort_values()

div_10     10
div_11     19
div_4      26
div_5      26
div_3      27
real_2     29
real_10    32
real_12    32
real_8     33
real_11    33
div_12     35
real_5     36
div_2      43
real_4     52
real_3     53
div_8      53
dtype: int64